.Rproj.user
.Rhistory
.RData
inst/do
.V8history
inst/tutorials/*/rsconnect
inst/tutorials/*/*.html
inst/shiny-demo/*/rsconnect
docs/*
.DS_Store
inst/doc
doc
Meta
revdep/checks
revdep/library
revdep/checks.noindex
revdep/library.noindex
revdep/data.sqlite
